div {border: 3px solid green;
padding: 30px;
margin: 30px
  }
header {border: 3px solid green;
    padding: 30px;
    margin: 30px}
main{border: 3px solid green;
    padding: 30px;
    margin: 30px}
footer{border: 3px solid green;
    padding: 30px;
    margin: 30px}